body {
    background-color: var(--medium);
}

.content .static {
    color: var(--forh);
}

.paint {
    display: none;
}

.admin-panel {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #242630;
}

.admin-panel .menu {
    display: flex;
    border-bottom: 3px solid #242630;
    border-top: 2px solid #242630;
    padding: 0 0 0 16px;
    height: 36px;
    align-items: center;
    background-color: #45464f;
    border-radius: 10px;
    margin: 0 3px;
}

.admin-panel .menu a {
    color: var(--ultra-light);
    border-left: 2px solid var(--ultra-light);
    border-right: 2px solid var(--ultra-light);
    padding: 0 6px 2px;
    border-radius: 8px;
    background-color: #31333c;
    font-weight: 500;
    margin-right: 16px;
}

main.content {
    margin-top: 44px;
}
/* Юзеры добавить */

.form-add-user, .sales-data {
    min-width: 560px;
    max-width: 720px;
    margin: auto;
}

.form-add-user input, .user-info-data{
    display: block;
    border: 1px solid;
    margin: 12px auto;
    border-radius: 8px;
    padding: 8px;
    width: 320px;
    color: var(--dark);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.05),
        0 0 0 3px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

.form-add-user input:focus{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0),
        0 0 0 3px rgb(0, 0, 0),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

.form-add-user-group {
    margin: 16px;
}

.form-add-user label, .user-info-label {
    display: block;
    border: 1px solid;
    margin: 12px auto;
    border-radius: 8px;
    padding: 8px;
    width: 210px;
}

.form-add-user-el, .user-info {
    display: flex;
}

.sales-data {
    margin-top: 72px;
}

.btn-confirm {
    display: block;
    border: 1px solid;
    margin: 12px auto;
    border-radius: 8px;
    padding: 8px;
    width: 320px;
    text-align: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.05),
        0 0 0 3px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}

/* Юзеры, таблица */

.table-users {
    margin-top: 16px;
}

.table-users th {
    border: 2px solid var(--dark);
    padding: 8px 24px;
    font-weight: bold;
}

.table-users td {
    border: 1px dashed var(--dark);
    padding: 4px 12px;
}

.green {
    color: green;
}

.red {
    color: red;
}

#cke_ckeditor {
    margin: auto;
    width: 100%;
}

#title {
    width: 100%;
}
