@import url('../var.css');


body {
    background-color: #F6F6F8;
    color: #7B7B84;
}

.cab-block {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    font-weight: 500;
    color: #7B7B84;
}

h2 {
    margin-top: 0;
    text-align: left;
}

h2, h3, .orders-tbl-header, .statelem, .prizes-txt {
    color: #333;
}

.hello {
    line-height: 80px;
}

label {
    z-index: 1;
}

.btn {
    width: max-content;
    border-radius: 8px;
    background-color: var(--accent);
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: left;
}

.parent {
    position: relative;
}

.btn-min {
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 4;
}

.btn-arrow {
    display: block;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 5px;
    background-color: #eeeef3;
    background-image: url(/static/img/icon_arrow_up.svg);
    background-size: 12px auto;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    transition: .33s;
    transform: rotate(180deg) !important;
}

#ava-label {
    background-image: url(/static/img/icon_edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background-size: 24px auto;
    cursor: pointer;
    margin-top: 28px;
}

.usermenumob {
    display: none;
}

.usermenu {
    background-color: #fff;
    color: #7B7B83;
    padding: 5px;
    border-radius: 16px;
    margin-top: 20px;
    height: calc(100% - 20px);
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
}

.usermenu button {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    background: none;
    padding: 12px 0;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    text-align: center;
    transition: background-color .33s, box-shadow .33s;
}

.usermenu button:hover {
    border-radius: 8px 0 0 8px;
    z-index: 10;
}

.usermenu button:hover > span {
    display: inline-block;
    float: right;
    position: absolute;
    top: 0;
    height: 100%;
    left: 100%;
    white-space: nowrap;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    background-color: #bb2434;
    color: #fff;
}

.usermenu button img {
    width: 24px;
    height: 24px;
}

.info {
    background-color: #fff;
    color: #7B7B83;
    padding: 20px;
    border-radius: 16px;
    margin-top: 20px;
}

.info .top {
    text-align: left;
    font-weight: 600;
    line-height: 48px;
    color: #333;
    font-weight: bold;
}

.info .avatar {
    
}

.info .avatar img {
    border-radius: 50%;
    max-width: 80px;
    height: 80px;
}

#ava-label {
    display: inline-block;
    line-height: 80px;
}

#filterForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-search {
    min-width: 300px;
    text-align: center;
    margin-left: 40px;
}

.btn-filter {
    margin: 10px 40px 10px 10px;
}

.info input[type="text"],.info input[type="tel"],.info input[type="email"],.info input[type="date"] {
    padding: 0;
    border-radius: 8px;
    margin: 0 0 20px 0;
    font-weight: 700;
    color: #333;
}

.info input[type="file"] {
    margin-left: 0;
    max-width: 100%;
    padding-left: 0;
}

.info input[type="file"]::file-selector-button {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 5px 12px;
}

.info .form-add-user input#submit {
    border-radius: 8px;
}

.info label {
    display: block;
    font-weight: 500;
    color: #7B7B83;
}

input#avatar {
    display: none;
}

input#password {
    margin: 0;
    padding-left: 0;
    border-radius: 0;
}

.info .card {
    border: none;
    margin-bottom: 20px;
}

.info .card span {
    color: var(--accent);
    font-weight: bold;
}

.info #submit {
        padding: 10px 27px;
}

.shops {
    background-color: #fff;
    color: #7B7B83;
    padding: 20px 20px 40px;
    border-radius: 16px;
    margin-top: 20px;
}

.shops .our-stores {
    display: flex;
    justify-content: space-between;
}

.shops .our-stores > div {
    margin-bottom: 20px;
}

.shops .our-stores-store {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin-bottom: 10px;
    height: 100%;
}

.shops .our-stores-img-cont {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shops .our-stores-img-cont img {
    margin: 0 auto;
    width: 149px;
}

.shops .our-stores-txt {
    font-size: 0.8em;
    border-top: 1px solid var(--dark);
    padding-top: 8px;
}

.bonus {
    background-color: #fff;
    color: #7B7B83;
    padding: 20px;
    border-radius: 16px;
    margin-top: 20px;
}

.progress {
    background-color: #fff;
    color: #7B7B83;
    padding: 2px;
    border-radius: 8px;
}

.prizes {
    background-color: #fff;
    color: #7B7B83;
    padding: 20px;
    border-radius: 16px;
    margin-top: 20px;
}



.btn-primary {
    background: none;
    padding: 0;
    border: none;
}

.btn-primary:hover {
    background:#bb2434;
}

.btn-primary span {
    display: none;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    background:#fff;
    border-color: #bb2434;
    box-shadow: 0 0 0 0.25rem #bb243490;
}

.bonus .progress {
  background: #34A646;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  width: 0%;
  z-index: 1;
  transition: 0.4s ease;
}

.bonus h4 {
    text-align: center;
}

.bonus .progress-container::before {
    content: "";
    background: var(--medium);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    z-index: 1;
}

.bonus .progress-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 40px auto;
    max-width: 100%;
}

.bonus .progress-container .circle {
    background: #fff;
    color: var(--dark);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--medium);
    transition: .4s ease;
    z-index: 9;
}

.bonus .progress-container .circle.active {
    border-color: #34A646;
}

.after {
    position: absolute;
    font-size: 14px;
    color: #7B7B83;
}

.after.even {
    top: -30px;
}

.after.odd {
    bottom: -30px;
}

.have-left {
    display: none;
    text-align: center;
}

@media (max-width: 1023px) {
    .after, .have b, .left b {
        display: none;
    }

    .have-left {
        display: block;
    }
}

/* Прогресс текущего уровня */

.bonus .animated-progress {
    height: 30px;
    border-radius: 8px;
    margin: 20px auto;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
}

.bonus .animated-progress span.have {
    height: 100%;
    display: inline-block;
    width: 0;
    color: rgb(255, 251, 251);
    background-color: var(--accent);
    line-height: 16px;
    position: absolute;
    text-align: center;
    padding: 7px;
    min-width: fit-content;
}

.bonus .animated-progress span.left {
    height: 100%;
    display: inline-block;
    width: 0;
    color: var(--accent);   
    background-color: #fff;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    padding: 7px;
    min-width: fit-content;
}

/* Данные о заказах */
.stats {
    background-color: #fff;
    color: #7B7B83;
    padding: 20px;
    border-radius: 16px;
    margin-top: 20px;
}

.stats .row {
    margin-bottom: 20px;
}

.stats .row .col-12 {
    margin-bottom: 10px;
}

.stats .statelem {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: left;
}

.stats .statelem .statimg {
    display: inline-block;
    width: auto;
    height: 30px;
    position: relative;
    left: 13px;
}

.stats .statimg .statcircle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    transform: rotate(180deg);
}

.stats .orders-tbl {
    border-radius: 8px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.10);
    margin-top: 20px;
    padding: 0 10px;
}

.stats .orders-tbl-header {
    font-weight: bold;
}

.stats .refs .orders-tbl {
    padding: 5px 10px;
}

.stats .refs .orders-tbl .orders-tbl-section {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin: 4px 0;
}

.stats .refs .orders-tbl .orders-tbl-section .arrow {
    
}

.stats .refs .orders-tbl .tbl-order-fio {
    width: 280px;
    text-align: right;
}

#ref_link {
    display: inline-block;
    cursor: pointer;
}

/* Призы */
.prizes {

}

.prizes .col-md-4 {
    margin-bottom: 10px;
}

.prizes .prize {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 100%;
    margin: 0 10px 5px;
    padding: 10px 10px 2px;
    text-align: center;
}

.prizes .prize.active {
    border: 2px solid #34A646;
}

.prizes .prize .prizes-img-cont {
    filter: grayscale(90%);
    opacity: 0.4;
}

.prizes .prize.active .prizes-img-cont {
    filter: none;
    opacity: 1;
}

.prizes .prize .prizes-img-cont img {
    max-height: 60px;
}

.prizes .prize .modal-text {
    white-space: pre-line;
}


/* заказы */
.orders {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 16px;
    margin-top: 20px;
}

.orders .orders-tbl {
    display: grid;
}

.orders .orders-tbl-header {
    background: #ccc;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 10% 20% 20% 10% 10% 10% 10%;
    gap: 8px;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 10px 0;
    text-align: center;
}

.orders .orders-tbl-header > div {
    display: inline-block;
    float: left;
}

.orders .orders-tbl-order {
    border-radius: 8px;
    box-shadow: 0px 3px 5px 0px rgba(29, 29, 27, 0.32);
    margin-bottom: 18px;
}

.orders .orders-tbl-order:last-child {
    border-radius: 8px;
}

.orders .orders-tbl-order .orders-tbl-section {
    background-color: #fcfcfc;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 10% 20% 20% 10% 10% 10% 10% 5%;
    gap: 8px;
    padding: 10px;
}

.orders .orders-tbl-order .orders-tbl-section > div {
    display: flex;
    align-items: center;
}

.orders .orders-tbl-order .orders-tbl-section .tbl-order-num, .orders .orders-tbl-order .orders-tbl-section .tbl-order-fio, .orders .orders-tbl-order .orders-tbl-section .tbl-order-address, .orders .orders-tbl-order .orders-tbl-section .tbl-order-date, .orders .orders-tbl-order .orders-tbl-section .tbl-order-del-date, .orders .orders-tbl-order .orders-tbl-section .tbl-order-sum, .orders .orders-tbl-order .orders-tbl-section .arrow {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
.orders .orders-tbl-order .orders-tbl-section .tbl-order-date, .orders .orders-tbl-order .orders-tbl-section .tbl-order-del-date, .orders .orders-tbl-order .orders-tbl-section .tbl-order-sum, .orders .orders-tbl-order .orders-tbl-section .tbl-order-bonus, .orders .orders-tbl-order .orders-tbl-section .arrow {
    justify-content: center;
}
.orders .orders-tbl-order .orders-tbl-section .tbl-order-bonus {
    display: inherit;
  text-align: center;
}

.tbl-order-bonus .green {
    color: #09A827;
    font-size: 0.7em;
}

.tbl-order-bonus .gray {
    color: var(--light);
    font-size: 0.7em;
}

.orders .orders-tbl-order .orders-tbl-items {
    
}

.orders .orders-tbl-order .orders-tbl-items .orders-tbl-items-header {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    gap: 8px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
}

.orders .orders-tbl-order .orders-tbl-items .orders-tbl-items-section {
    background: #fff;
    border-bottom: 1px solid #000;
    display: grid;
    font-size: 0.8em;
    grid-template-columns: 55% 15% 15% 15%;
    gap: 8px;
    padding: 10px;
}

.orders .orders-tbl-order .orders-tbl-items .orders-tbl-items-section:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}

.orders-tbl input{
    display: none;
}

.orders-tbl label{
    z-index: 100;
}

.orders-tbl label .arrow:before {
    content: '\276F';
    float: right;
    font-size: 2em;
}

.orders-tbl input:checked + label .arrow:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.orders-tbl input:checked + label {
    border: 1px solid #585858;
    border-radius: 8px;
}

.orders-tbl .orders-tbl-items {
    height: 0;
    overflow: hidden;
    transition: color 0.5s, padding 0.5s;
}

.orders-tbl input:checked + label + .orders-tbl-items {
    height: auto;
    margin: 20px 0 10px;
}

.orders .orders-tbl-order .orders-tbl-items .tbl-items-name {
    display: grid;
}

.orders .orders-tbl-order .orders-tbl-items .tbl-items-amount, .orders .orders-tbl-order .orders-tbl-items .tbl-items-price, .orders .orders-tbl-order .orders-tbl-items .tbl-items-total {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allorders {
    font-size: 1.5em;
    text-align: center;
}

.allorders a {
}

.mobileorders {
    display: none;
}

.modal-body form {
    text-align: center;
}

.modal.fade {
    
}

.modal-body input[type="text"], .modal-body input[type="tel"], .modal-body input[type="email"], .modal-body input[type="date"], .modal-body input[type="password"] {
    border: 1px solid #333;
    padding: 12px;
    border-radius: 8px;
    margin: 0 0 20px 0;
    width: 100%;
}

.modal-body input[type="submit"] {
    width: max-content;
    border-radius: 8px;
    background-color: var(--accent);
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: left;
    padding: 10px 27px;
}

@media screen and (max-width: 880px) {
    .col-md-5.desc {
        min-width: 50%;
    }

    .notdesc {
        display: none;
    }

    .usermenumob {
        display: inline-flex;
        position: fixed;
        bottom: 0;
        background: #fff;
        width: 100%;
        padding: 10px 20px;
        z-index: 990;
    }

    .usermenumob button {
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 5px;
    }

    .usermenumob button img {
        width: 24px;
    }
}

@media screen and (max-width: 768px) {
    .orders .orders-tbl-header {
        display: none;
    }
    .desctoporders {
        display: none;
    }

    .mobileorders {
        display: block;
    }

    .orders .orders-tbl-order .orders-tbl-section {
        border-radius: 8px;
    }

    .orders .orders-tbl-order .orders-tbl-el label {
        color: #a4a4a4;
        font-size: 10px;
    }

    .orders .orders-tbl-order {
        background: #e7e7e7;
        box-shadow: 0px 0px 7px 0px rgba(29, 29, 27, 0.32);
    }

    .orders .orders-tbl-order .orders-tbl-section {
        background: #fff;
        grid-template-columns: 75% 15% 10%;
    }

    .orders .orders-tbl-order .orders-tbl-section .tbl-order-num {
        display: inherit;
        font-weight: 500;
    }

    .orders .orders-tbl-order .orders-tbl-section .tbl-order-bonus .bonuspaid {
        display: flex;
        align-items: center;
    }

    .orders-tbl input:checked + label + .orders-tbl-items {
        margin: 0 0 10px;
    }

    .orders .orders-tbl-order .dopinfo {
        display: block;
        margin-bottom: 10px;
        padding: 0 10px;
        width: 100%;
    }

    .orders .orders-tbl-order .dopinfo .tbl-order-fio, .orders .orders-tbl-order .dopinfo .tbl-order-address, .orders .orders-tbl-order .dopinfo .tbl-order-sum, .orders .orders-tbl-order .dopinfo .tbl-order-date, .orders .orders-tbl-order .dopinfo .tbl-order-del-date, .orders .orders-tbl-order .dopinfo .tbl-order-bonus {
        display: inline-grid;
        width: 50%;
    }

    .orders .orders-tbl-order .dopinfo .orders-tbl-items-el {
        width: 65%;
    }

    .orders .orders-tbl-order .dopinfo .orders-tbl-items-el:nth-child(2n) {
        width: 30%;
    }

    .orders .orders-tbl-order .dopinfo label {
        color: #a4a4a4;
        font-size: 10px;
        width: 100%;
    }

    .orders .orders-tbl-order .orders-tbl-items .orders-tbl-items-section {
        background: #fff;
        display: inline-block;
        width: 100%;
    }

    .orders .orders-tbl-order .orders-tbl-items .tbl-items-name {
        display: block;
        margin-bottom: 5px;
        width: 100%;
    }

    .orders .orders-tbl-order .orders-tbl-items .tbl-items-amount, .orders .orders-tbl-order .orders-tbl-items .tbl-items-price, .orders .orders-tbl-order .orders-tbl-items .tbl-items-total {
        display: inherit;
        width: 32%;
    }

    .orders .orders-tbl-order .orders-tbl-items .orders-tbl-items-section .orders-tbl-items-el label {
        color: #a4a4a4;
        font-size: 10px;
        width: 100%;
    }
}


@media screen and (max-width: 575px) {
    .info .avatar {
        text-align: center;
    }
    
    .info .card {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .orders .orders-tbl-order .orders-tbl-section {
        grid-template-columns: 60% 20% 15%;
    }

    .bonus .progress-container .circle {
        border-radius: 8px;
        height: 28px;
        width: 28px;
        font-size: 0.8em;
        font-weight: bold;
        border-width: 2px;
    }

    .bonus .progress-container .circle.active {
        background: var(--ultra-light);
    }

    .bonus .progress-container .circle:nth-child(odd) {
        font-size: 0.6em;
        height: 22px;
        width: 22px;
        margin-top: 3px;
    }

    .mob-btn-block {
        text-align: center;
    }
}
/* end заказы */

/* news */


article.news-article {
    border-radius: 8px;
    background: var(--ultra-light);
    padding: 8px;
    margin-bottom: 16px;
}

.news-title {
    font-size: 1.5em;
    font-weight: bold;
}

.news-date {
    font-weight: lighter;
    font-size: 0.8em;
    text-align: right;
}
/* end news */