<div class="container">
  <div class="row">
    <div class="col-12 col-xl-3">
      <div class="footer-logo">
        <img src="/static/img/logo.svg"/>
      </div>
      <p class="footer-description">
        Крупнейшая группа компаний в области интерьерной рекламы, мы являемся лидерами на рынке отдельных материалов
      </p>
    </div>
    <div class="col-12 col-xl-2">
      <ul class="footer-links">
        <li><a href="{{ url_for('main.index') }}">Главная</a></li>
        <li><a href="{{ url_for('main.retail') }}">Магазины</a></li>
        <li><a href="{{ url_for('main.partners') }}">Партнерство</a></li>
      </ul>
    </div>
    <div class="col-12 col-xl-2">
      <ul class="footer-links">
        <li><a href="{{ url_for('main.trading') }}">Оптовое направление</a></li>
        <li><a href="{{ url_for('main.contacts') }}">Контакты</a></li>
        <li><a href="{{ url_for('user.user_profile') }}">Личный кабинет</a></li>
      </ul>
    </div>
    <div class="col-12 col-xl-2">
      <div class="footer-contacts">
        <div class="footer-contact-item">
          <a target="_blank" href="https://t.me/prod_ru">
            <img src="{{ url_for('static', filename='img/icon_tg.svg') }}" alt="Telegram Icon" class="footer-icon"/>
            <span>@prod_ru</span>
          </a>
        </div>
        <div class="footer-contact-item">
          <a target="_blank" href="https://wa.me/79217787394">
            <img src="{{ url_for('static', filename='img/icon_wa.svg') }}" alt="WhatsApp Icon" class="footer-icon"/>
            <span>Написать в WhatsApp</span>
          </a>
        </div>
        <div class="footer-contact-item">
          <a target="_blank" href="https://vk.com/prod_rus" class="footer-contacts__link">
            <img src="{{ url_for('static', filename='img/icon_vk.svg') }}" alt="VK Icon" class="footer-icon"/>
            <span>@prod_rus</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-3">
      <div class="footer-contacts">
        <p class="number"><a target="_blank" href="tel:+7(812)213-03-00">+7 (812) 213–03–00</a></p>
      </div>
      <div class="contact-info">
        <button class="footer-button">Стать партнером<img class="button-icon" src="{{ url_for('static', filename='img/icon_arrow_r.svg') }}" alt="Icon"/></button>
      </div>
    </div>
  </div>
</div>