<div class="container">
  <div class="row">
    <div class="col-12 col-xl-2">
      <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="PRO Дизайн Logo" />
      </div>
    </div>
    <div class="col-12 col-xl-6">
      <nav>
        <ul class="menu">
          <li><a href="#">ГЛАВНАЯ</a></li>
          <li><a href="#">ПАРТНЕРСТВО</a></li>
          <li><a href="#">РОЗЫГРЫШИ</a></li>
          <li><a href="#">ОПТ</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">КОНТАКТЫ</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-12 col-xl-2">
      <div class="contact-info phone">
        +7 (812) 213 - 03 - 00
      </div>
    </div>
    <div class="col-12 col-xl-2">
        <a href="#" class="login-btn"
          >Вход для партнеров
          <div class="">
            <img src="{{ url_for('static', filename='img/icon_login.svg') }}" />
          </div>
        </a>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="mobile-menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Партнерство</a></li>
        <li><a href="#">Розыгрыши</a></li>
        <li><a href="#">Оптовое направление</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
</div>

<!--
<div>
  <a class="logo" href="/">
  <img class="logo__img" src="{{ url_for('static', filename='img/logo.svg') }}" alt="prod logo">
  </a>
  <ul class="menu-header">
  {% if current_user.is_authenticated %}
  <li><a class="link-header" href="{{ url_for('admin.add_user') }}">Add User</a></li>
  <li><a class="link-header" href="{{ url_for('admin.all_users') }}">Users</a></li>
  <li>{{ '%04d' % current_user.card }} <a class="link-header" href="{{ url_for('user.user_logout') }}">Logout</a></li>
  {% else %}
  <li><a class="link-header" href="{{ url_for('user.user_login') }}">Login</a></li>
  {% endif %}
  </ul>
</div>
-->

