{% extends 'main/base.html' %}

{% block content %}

<div class="row banner-group">
    <div class="col-12 col-sm-6 col-md-6">
        <div class="banner-group-banner">
            <video id="vid-desk-2" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" class="home-main--video vid-home vid-desk">
                <source type="video/mp4" src="/static/video/ind.mp4">
              </video>
            <!--<img src="{{ url_for('static', filename='img/imgs/ban.jpg') }}"/>-->
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <div class="row one">
            <div class="col-12 col-md-6  col-xl-6">
                <a href="/partners">
                    <div class="banner-group-dir dir-white">
                        <div class="after">
                            01
                        </div>
                        <div class="banner">
                            <div class="content-block">
                                <h2><span>Мы:</span>Лучшая партнерская программа</h2>
                                <p>Для дизайнеров <br>и строителей</p>
                            </div>
                        </div>
                        <div class="arrow">
                            <img src="{{ url_for('static', filename='img/icon_arrow_rt_red.svg') }}"/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6  col-xl-6">
                <a href="/trading">
                    <div class="banner-group-dir dir-red">
                        <div class="after">
                            02
                        </div>
                        <div class="banner">
                            <div class="content-block">
                                <h2><span>И еще мы:</span>Производство и оптовое направление</h2>
                                <p>Union, Decospan<br>другие бренды</p>
                            </div>
                        </div>
                        <div class="arrow">
                            <img src="{{ url_for('static', filename='img/icon_arrow_rt.svg') }}"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row two">
            <div class="col-12">
                <a href="/retail">
                    <div class="banner-group-dir dir-dark">
                        <div class="after">
                            03
                        </div>
                        <div class="banner">
                            <div class="content-block">
                                <h2><span>А вообще мы:</span>Самая крупная сеть салонов<br/>отделочных материалов</h2>
                                <p>Напольные покрытия, двери, плитка<br>
                                Адреса магазинов</p>
                            </div>
                        </div>
                        <div class="arrow">
                            <img src="{{ url_for('static', filename='img/icon_arrow_rt.svg') }}"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<section class="salons">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-5">
            <div class="inform" style="text-align: left;">
                <h2 style="margin-top: 17px">Наши салоны оформлены в современном стиле и предлагают посетителям тысячи образцов.</h2>
                <p>Мы предлагаем лучший сервис и широкий выбор сопутствующих товаров и услуг, предлагая полный цикл обслуживания клиента.</p>
                <div class="button-container">
                    <button class="discover-btn" onclick="document.location='/retail'">Подробнее<img class="button-icon" src="{{ url_for('static', filename='img/icon_arrow_r.svg') }}" alt="Icon"/></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-7">
            <div class="row napr">
                <div class="col-12 col-md-4">
                    <div class="decor-block">
                        <img src="{{ url_for('static', filename='img/imgs/salon1.jpg') }}" />
                        <h3 class="decor-text">Деревяные напольные покрытия</h3>
                        <p class="decor-about"> кварц-виниловая плитка, паркет, ламинат, массивная доска и др.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="decor-block">
                        <img src="{{ url_for('static', filename='img/imgs/salon2.jpg') }}" />
                        <h3 class="decor-text">Керамическая плитка и керамогранит</h3>
                        <p class="decor-about"></p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="decor-block">
                        <img src="{{ url_for('static', filename='img/imgs/salon3.jpg') }}" />
                        <h3 class="decor-text">Межкомнатные и входные двери</h3>
                        <p class="decor-about">серийные и под заказ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="brands">
    <div id="infobrands" class="info">
        <h4>Мы гарантируем самую низкую цену на весь предлагаемый ассортимент и будем рады видеть вас в наших салонах.</h4>
    </div>
    <h3>Наши бренды</h3>
    <div class="brand-list">
        <a href="https://slonparket.ru" target="_blank" class="brand">
            <div>
                <img class="dontact" src="/static/img/stores/slonparket-gs.svg" />
                <img class="act" src="/static/img/stores/slonparket.svg" />
                <h4>Магазин напольных покрытий СЛОНПАРКЕТ предлагает тысячи решений для отделки пола</h4>
                <p>slonparket.ru</p>
            </div>
        </a>
        <a href="https://realdoor.ru" target="_blank" class="brand">
            <div>
                <img class="dontact" src="/static/img/stores/rd-gs.svg" />
                <img class="act" src="/static/img/stores/rd.svg" />
                <h4>Большой ассортимент межкомнатных дверей с разными покрытиями: шпон, эмаль, массив</h4>
                <p>realdoor.ru</p>
            </div>
        </a>
        <a href="https://lenplitka.ru" target="_blank" class="brand" style="border-right: none;">
            <div>
                <img class="dontact" src="/static/img/stores/lp-gs.svg" />
                <img class="act" src="/static/img/stores/lp.svg" />
                <h4>В магазине представлен большой выбор керамической плитки и керамогранита по доступной цене.</h4>
                <p>lenplitka.ru</p>
            </div>
        </a>
        <a href="https://cp1.ru" target="_blank" class="brand" style="border-bottom: none;">
            <div>
                <img class="dontact" src="/static/img/stores/cp1-gs.svg" />
                <img class="act" src="/static/img/stores/cp1.svg" />
                <h4>Огромный выбор качественного напольного покрытия.</h4>
                <p>cp1.ru</p>
            </div>
        </a>
        <a href="https://profildoors.sale" target="_blank" class="brand" style="border-bottom: none;">
            <div>
                <img class="dontact" src="/static/img/stores/pd-gs.svg" />
                <img class="act" src="/static/img/stores/pd.svg" />
                <h4>Широкий выбор дверей из экошпона и алюминия.</h4>
                <p>profildoors.sale</p>
            </div>
        </a>
        <a href="https://parket1703.ru" target="_blank" class="brand" style="border-right: none; border-bottom: none;">
            <div>
                <img class="dontact" src="/static/img/stores/parket1703-gs.svg" />
                <img class="act" src="/static/img/stores/parket1703.svg" />
                <h4>Большой выбор напольных покрытий квартир, так и для частных домов</h4>
                <p>parket1703.ru</p>
            </div>
        </a>
    </div>
</section>

<section id="partners" class="partners">
    <div class="partners-text">
        <h4>Приглашаем дизайнеров и строителей стать нашими партнерами</h4>
        <p>Узнайте о лучших условиях для партнеров</p>
        <div class="button-container">
            <button class="discover-btn" onclick="document.location='/partners'">Подробнее<img class="button-icon" src="{{ url_for('static', filename='img/icon_arrow_r_red.svg') }}" alt="Icon"/></button>
        </div>
    </div>
    <div class="partners-image">
        <img class="partners-people" src="/static/img/imgs/partneram.png" />
    </div>
</section>

<section class="partners-mob">
    <div class="partners-text">
        <h4>Приглашаем дизайнеров и строителей стать нашими партнерами</h4>
        
        <p>Узнайте о лучших условиях для партнеров</p>
        <div class="button-container">
            <button class="discover-btn" onclick="document.location='/partners'">Подробнее<img class="button-icon" src="{{ url_for('static', filename='img/icon_arrow_r_red.svg') }}" alt="Icon"/></button>
        </div>
    </div>
</section>

<section class="our-advantages">
    <h3>Наши преимущества</h3>
    <div class="advantages-flex">
        <div class="advantages-block">
            <div>
                <img src="{{ url_for('static', filename='img/prem2.svg') }}" alt="" />
            </div>
            <div>
                <h5>Бонусы за партнера</h5>
                <p>Бонусы за приглашённых<br />вами партнёров.</p>
            </div>
        </div>
        <div class="advantages-block">
            <div><img src="{{ url_for('static', filename='img/prem3.svg') }}" alt="" /></div>
            <div>
                <h5>20+ Салонов</h5>
                <p>Мы крупнейшая сеть<br />в Санкт-Петербурге.</p>
            </div>
        </div>
        <div class="advantages-block">
            <div><img src="{{ url_for('static', filename='img/prem1.svg') }}" alt="" /></div>
            <div>
                <h5>Бонусы</h5>
                <p>Бонус при заказе до 15%. <br />Рост процента бонуса <br />с объёмом продаж.</p>
            </div>
        </div>
    </div>
</section>

<section class="map">
    <h3>Наши магазины</h3>
            <!--<img src="/static/img/stores/slonparket.svg" />
            <img src="/static/img/stores/rd.svg" />
            <img src="/static/img/stores/lp.svg" />
            <img src="/static/img/stores/cp1.svg" />
            <img src="/static/img/stores/pd.svg" />
            <img src="/static/img/stores/parket1703.svg" />-->
    <div class="tab">
        <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
        <label class="no-l-padding" for="tab-btn-1"><img src="/static/img/stores/slonparket.svg" /></label>
        <input id="tab-btn-2" name="tab-btn" type="radio" value="">
        <label for="tab-btn-2"><img src="/static/img/stores/rd.svg" /></label>
        <input id="tab-btn-3" name="tab-btn" type="radio" value="">
        <label for="tab-btn-3"><img src="/static/img/stores/lp.svg" /></label>
        <input id="tab-btn-4" name="tab-btn" type="radio" value="">
        <label for="tab-btn-4"><img src="/static/img/stores/cp1.svg" /></label>
        <input id="tab-btn-5" name="tab-btn" type="radio" value="">
        <label for="tab-btn-5"><img src="/static/img/stores/pd.svg" /></label>
        <input id="tab-btn-6" name="tab-btn" type="radio" value="">
        <label class="no-r-padding" for="tab-btn-6"><img src="/static/img/stores/parket1703.svg" /></label>

        <div class="tab-content" id="content-sp">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="shop">
                        Ленинский проспект, дом 140А,
                        <br>
                        ТЦ «Загородный дом 2», 16 модуль
                    </div>
                    <div class="shop">
                        Фучика улица, дом 9,
                        <br>
                        ТК «Кубатура», 1 этаж, секция 1.72
                    </div>
                    <div class="shop">
                        Энгельса проспект, дом 48,
                        <br>
                        Слонпаркет
                    </div>
                    <div class="shop">
                        Гражданский проспект, дом 15, к. 1
                        <br>
                        Слонпаркет
                    </div>
                    <div class="shop">
                        Студенческая улица, дом 10,
                        <br>
                        ТК «Ланской», секция 20
                    </div>
                    <div class="shop">
                        Железноводская улица, дом 3,
                        <br>
                        ТК «Василеостровский», 1 этаж, секция 20
                    </div>
                    <div class="shop">
                        Полевая Сабировская улица, дом 54,
                        <br>
                        ТК "Интерио", 2 этаж, секция 213
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9">
                    <div class="ymap" id="map_sp"></div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="content-rd">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="shop">
                        Ленинский проспект, дом 140А,
                        <br>
                        ТЦ «Загородный дом 2», 4 модуль
                    </div>
                    <div class="shop">
                        Энгельса проспект, дом 48
                    </div>
                    <div class="shop">
                        Железноводская ул, дом 3,
                        <br>
                        ТК «Василеостровский», секция 40
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="ymap" id="map_rd"></div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="content-lp">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="shop">
                        Ленинский проспект, дом 140А,
                        <br>
                        ТЦ «Загородный дом 2», 2-3 модуль
                    </div>
                    <div class="shop">
                        Энгельса проспект, дом 48
                    </div>
                    <div class="shop">
                        ул. Железноводская, д.3,
                        <br>
                        ТЦ "Василеостровский", 2 этаж, секция 102
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="ymap" id="map_lp"></div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="content-cp">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="shop">
                        Ленинский проспект, дом 140А,
                        <br>
                        ТЦ «Загородный дом 2», 1 модуль
                    </div>
                    <div class="shop">
                        Фучика улица, дом 9,
                        <br>
                        ТК «Кубатура», 1 этаж, секция 1.74
                    </div>
                    <div class="shop">
                        Полевая Сабировская улица, дом 54,
                        <br>
                        ТК «Интерио», 2 этаж, секция 212
                    </div>
                    <div class="shop">
                        Энгельса проспект, дом 48А
                    </div>
                    <div class="shop">
                        ул. Уральская, д. 10,
                        <br>
                        ТЦ "Василеостровский", 1 этаж, секция 83
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="ymap" id="map_cp"></div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="content-pd">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="shop">
                        Ленинский проспект, дом 140А,
                        <br>
                        ТЦ «Загородный дом 2», 13 модуль
                    </div>
                    <div class="shop">
                        ул. Железноводская, д.3,
                        <br>
                        ТЦ "Василеостровский", 2 этаж, секция 102
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="ymap" id="map_pd"></div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="content-pa">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="shop">
                        Ленинский проспект, дом 140А,
                        <br>
                        ТЦ «Загородный дом 2», 8-9 модуль
                    </div>
                    <div class="shop">
                        Студенческая улица, дом 10,
                        <br>
                        ТК «Ланской», секция А1
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="ymap" id="map_pa"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&coordorder=longlat;apikey=7e29b517-febf-4789-9368-769cf7e911eb" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <script>
        let elem = document.getElementById("partners");
        var c = elem.getBoundingClientRect();
        elemtop = window.pageYOffset + c.top - 40,
        elemleft = window.pageXOffset + c.left - 100;
        bottom = elem.offsetHeight + 80;

        let paint6 = document.getElementById("paint6");
        paint6.setAttribute('style', 'width: 200px;height:'+bottom+'px;top:'+elemtop+'px;left:'+elemleft+'px');

        let paint7 = document.getElementById("paint7");
        paint7.setAttribute('style', 'width: 200px;height:'+bottom+'px;top:'+elemtop+'px;right:'+elemleft+'px');

        let infobrands = document.getElementById("infobrands");
        var d = infobrands.getBoundingClientRect(),
        infotop = window.pageYOffset + d.top - 40,
        inforight = window.pageXOffset + elemleft + 40;
        infobottom = infobrands.offsetHeight + 40;

        let paint8 = document.getElementById("paint8");
        paint8.setAttribute('style', 'width: 120px;height:'+infobottom+'px;top:'+infotop+'px;right:'+inforight+'px');
    </script>
{% endblock %}