{% extends 'main/base.html' %}

{% block title %}Здравствуйте, {{ current_user.name }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/user.css') }}">
{% endblock %}

{% block modal %}
<!-- Callback -->
<div class="modal fade" id="modal-callback" tabindex="-1" aria-labelledby="ModalCallbackLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCallbackLabel">Заказать обратный звонок</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-add-user" method="post" enctype="multipart/form-data" style="background: #fff;">
                    {{ form_callback.csrf_token }}
                    {{ form_callback.callback_name(placeholder="Имя") }}
                    {{ form_callback.callback_phone(placeholder="Телефон") }}
                    {{ form_callback.callback_submit(placeholder="Заказать звонок") }}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Make Order -->
<div class="modal fade" id="modal-order" tabindex="-1" aria-labelledby="ModalOrderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalOrderLabel">Оформить заказ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-add-user" method="post" enctype="multipart/form-data" style="background: #fff;">
                    {{ form_make_order.csrf_token }}
                    {{ form_make_order.make_order_name(placeholder="Имя") }}
                    {{ form_make_order.make_order_phone(placeholder="Телефон") }}
                    {{ form_make_order.make_order_text(placeholder="Опишите что вам нужно") }}
                    {{ form_make_order.make_order_submit(placeholder="Отправить") }}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Feedback -->
<div class="modal fade" id="modal-feedback" tabindex="-1" aria-labelledby="ModalFeedbackLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalFeedbackLabel">Оставить отзыв/пожелание</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-add-user" method="post" enctype="multipart/form-data" style="background: #fff;">
                    {{ form_feedback.csrf_token }}
                    {{ form_feedback.feedback_name(placeholder="Имя") }}
                    {{ form_feedback.feedback_text(placeholder="Комментарий / пожелание по улучшению личного кабинета") }}
                    {{ form_feedback.feedback_submit(placeholder="Отправить") }}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Reminder -->
<div class="modal fade" id="modal-reminder" tabindex="-1" aria-labelledby="ModalReminderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalReminderLabel">Памятка партнера</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-text">
                    <p>
                        <b>Работа с менеджерами</b><br />
                        - Для начисления бонуса до оформления заказа необходимо уведомить менеджера магазина, что Вы партнер группы компаний PRO Дизайн.
                        - В том случае если Вы не с клиентом, необходимо предупредить менеджера о том, что Ваш клиент придет в магазин.
                    </p>
                    <p>
                        <b>Сроки выплаты бонуса</b><br />
                        - Выплаты бонуса партнерам происходят 3 раза в месяц, не ранее, чем через 14 дней с момента отгрузки товара клиенту.
                        - Даты выплат: 10-15, 20-25, 30-4 число каждого месяца
                        - Если дата выплаты выпадает на выходной день, то выплата происходит в ближайший рабочий день.
                    </p>
                    <p>
                        <b>Бонус наличными</b><br />
                        - Если Вы хотите забрать бонус наличными, необходимо не позднее, чем за 3 рабочих дня предупредить менеджера по работе с партнерами о том, что Вы приедете за выплатой, чтобы мы успели подготовить сумму.
                        - Если партнер не приезжает в указанную дату для выплаты бонуса, мы переводим сумму на карту (заранее уведомив об этом партнера) или получение бонуса переносится на следующую дату.
                    </p>
                    <p>
                        <b>Размер бонуса</b><br />
                        - Процент бонуса рассчитывается от суммы проданного товара по рекомендованным розничным ценам.
                        - В случае предоставления скидки клиенту, процент бонуса снижается на размер предоставленной скидки.
                        - Каждый раз, когда сумма ваших заказов достигает 1 000 000 ₽, размер вашего бонуса увеличивается на 0,5% - Повышенный бонус распространяется только на товары производителей, указанных в личном кабинете. На товары производителей, не включенных в список, распространяется стандартный % бонуса - 10%.
                        - Максимальный размер бонуса 15%
                    </p>
                    <p>
                        <b>Реферальная программа</b><br />
                        - Реферал засчитывается партнеру в момент, когда он совершает покупку в наших салонах, оформив ранее клубную карту партнера PRO Дизайн.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News -->
<div class="modal fade" id="modal-news" tabindex="-1" aria-labelledby="ModalNewsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalNewsLabel">Журнал новостей</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for article in news %}
                    <article class="news-article">
                        <h3 class="news-title">{{ article.title }}</h3>
                        <div class="article-content">
                            {{ article.content|safe }}
                        </div>
                        <p class="news-date">{{ article.date }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Top goods -->
<div class="modal fade" id="modal-goods" tabindex="-1" aria-labelledby="ModalGoodsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalGoodsLabel">Список высокомаржинальных товаров</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Направление "Напольные покрытия"</h2>
                <div class="modal-text">
                    <p class="modal-text"><b>Ламинат</b><br />
                        <br />
                        - Kronotex<br />
                        - My Floor<br />
                        - My Step<br />
                        - Villeroy&amp;Boch<br />
                        - Clix Floor (коллекции Charm, Excellent, Flame)<br />
                        <br />
                        <b>Кварцвинил (ПВХ плитка)</b><br />
                        <br />
                        - Union<br />
                        - Norland<br />
                        - Tulesna<br />
                        - Bonkeel<br />
                        - Art East<br />
                        - My Step Aqua(коллекции AQUA 5, AQUA 6)<br />
                        <br />
                        <b>Паркетная доска</b><br />
                        <br />
                        - Barlinek<br />
                        - Decospan<br />
                        - Karelia<br />
                        <br />
                        <b>Инженерная доска</b><br />
                        <br />
                        - Koen<br />
                        - Coswick<br />
                        - Spil<br />
                        - Esta
                    </p>
                    <h2>Направление "Двери"</h2><br />
                        <p class="modal-text"><b>Межкомнатные двери</b><br />
                        - Двери DeFance<br />
                        - Двери "Массив дуба"<br />
                        <br />
                        <b>Входные двери</b><br />
                        <br />
                        - Двери Стальная Линия<br />
                        - Двери Дива<br />
                        - Двери Vitory<br />
                        <br />
                        <b>Фурнитура</b><br />
                        <br />
                        - Morelli<br />
                        - System<br />
                    </p>
                    <h2>Направление "Керамика"</h2>
                    <p class="modal-text">
                        <b>с 01.10.2024</b><br />
                        - Azario<br />
                        - Alma ceramica<br />
                        - Buono Ceramic<br />
                        - Maimoon<br />
                        - NT Ceramic<br />
                    </p>
                    <br />
                    <p class="modal-text grey">Повышенный % бонуса действует только на материалы производителей из списка с даты внесения производителя в список. На бренды, не указанные в списке, а также на акционные позиции, подложку, плинтус и химию - действует стандартный % бонуса.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="usermenumob">
    <button type="button" class="btn btn-primary" id="modal-btn-callback-mob" data-bs-toggle="modal" data-bs-target="#modal-callback">
        <img src="/static/img/icon_pc_callback.svg">
        <span>Заказать обратный звонок</span>
    </button>
    <button type="button" class="btn btn-primary" id="modal-btn-order-mob" data-bs-toggle="modal" data-bs-target="#modal-order">
        <img src="/static/img/icon_pc_order.svg">
        <span>Оформить заказ</span>
    </button>
    <button type="button" class="btn btn-primary" id="modal-btn-feedback-mob" data-bs-toggle="modal" data-bs-target="#modal-feedback">
        <img src="/static/img/icon_pc_feedback.svg">
        <span>Оставить отзыв/пожелание</span>
    </button>
    <button type="button" class="btn btn-primary" id="modal-btn-reminder-mob" data-bs-toggle="modal" data-bs-target="#modal-reminder">
        <img src="/static/img/icon_pc_map.svg">
        <span>Памятка партнера</span>
    </button>
    <button type="button" class="btn btn-primary" id="modal-btn-news-mob" data-bs-toggle="modal" data-bs-target="#modal-news">
        <img src="/static/img/icon_pc_news.svg">
        <span>Журнал новостей</span>
    </button>
</div>
{% endblock %}

{% block content %}
    <!--<div>
        {% if current_user.avatar %}
            <img src="/static/upload/{{ current_user.avatar }}">
        {% else %}
            <img src="/static/img/imgs/avatar.png">
        {% endif %}
    </div>-->

<div class="row">
    <div class="col-12 col-sm-12 col-md-1 notdesc">
        <div class="cab-block usermenu">
            <button type="button" class="btn btn-primary" id="modal-btn-callback" data-bs-toggle="modal" data-bs-target="#modal-callback">
                <img src="/static/img/icon_pc_callback.svg">
                <span>Заказать обратный звонок</span>
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-order" data-bs-toggle="modal" data-bs-target="#modal-order">
                <img src="/static/img/icon_pc_order.svg">
                <span>Оформить заказ</span>
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-feedback" data-bs-toggle="modal" data-bs-target="#modal-feedback">
                <img src="/static/img/icon_pc_feedback.svg">
                <span>Оставить отзыв/пожелание</span>
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-reminder" data-bs-toggle="modal" data-bs-target="#modal-reminder">
                <img src="/static/img/icon_pc_map.svg">
                <span>Памятка партнера</span>
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-news" data-bs-toggle="modal" data-bs-target="#modal-news">
                <img src="/static/img/icon_pc_news.svg">
                <span>Журнал новостей</span>
            </button>
        </div>
    </div>

    <div class=" col-12 col-sm-6 col-md-5 desc">
        <div class="cab-block info parent">
            <button class="btn-arrow btn-min"></button>
            <form class="row form-add-user" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="col-12 col-sm-8 top">
                    <h2 class="hello">Привет, {{ current_user.name }}!</h2>
                </div>
                <div class="col-12 col-sm-4 avatar parent">
                    {% if current_user.avatar %}
                        <img src="/static/upload/{{ current_user.avatar }}">
                    {% else %}
                        <img src="/static/img/imgs/avatar.png">
                    {% endif %}
                        <label for="avatar" id="ava-label"></label>
                        {{ form.avatar(placeholder="Аватар") }}
                </div>
                <div class="col-12 col-sm-12 card">
                    <label>Карта</label> 
                    <span>{{ '%04d' % current_user.card }}</span>
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.phone.label }}
                    {{ form.phone(placeholder="Телефон") }}
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.email.label }}
                    {{ form.email(placeholder="E-Mail") }}
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.birthday.label }}
                    {{ form.birthday(placeholder="Дата рождения") }}
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.password.label }}
                    {{ form.password(placeholder="Новый пароль") }}
                </div>
                <div class="form-add-user-el">

                </div>
                    {{ form.submit(placeholder="Сохранить") }}
            </form>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6">
        <div class="cab-block stats parent">
            <button class="btn-arrow btn-min"></button>
            <h2>Статистика</h2>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="statelem">
                        {{ stats['orders_count'] }}
                        <div class="statimg">
                            <img src="/static/img/user/zakazy.svg">
                            <img class="statcircle" src="/static/img/user/circle.svg">
                        </div>
                    </div>
                    <div>Кол-во заказов</div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="statelem">
                        {{ stats['bonus_to_pay'] }} ₽
                        <div class="statimg">
                            <img src="/static/img/user/ozhidaet.svg">
                            <img class="statcircle" src="/static/img/user/circle.svg">
                        </div>
                    </div>
                    <div>Ожидает выплаты</div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="statelem">
                        {{ stats['money_earned'] }} ₽
                        <div class="statimg">
                            <img src="/static/img/user/zarabotano.svg">
                            <img class="statcircle" src="/static/img/user/circle.svg">
                        </div>
                    </div>
                    <div>Заработали</div>
                </div>
            </div>
            <h2>Рефералы</h2>
            <div class="parent">
                Ваша реф. ссылка:
                <span id="ref_link" onclick="copyRefLink(document.getElementById('ref_link').innerText)">https://prod.ru/?r={{  '%04d' % current_user.card }} &nbsp;
                    <img src="/static/img/icon_copy.svg">
                </span>
                <button class="btn-arrow btn-min"></button>
            </div>
            <div class="cab-block refs">
                <div class="orders-tbl">
                    <div class="orders-tbl-section orders-tbl-header">
                        <div class="orders-tbl-el tbl-order-num">Реферал</div>
                        <div class="orders-tbl-el tbl-order-fio">Статус</div>
                    </div>
                    {% for ref in refs %}
                        <div class="orders-tbl-order">
                            <div class="orders-tbl-section">
                                <div class="orders-tbl-el tbl-order-num">{{ ref.name }}</div>
                                <div class="orders-tbl-el tbl-order-fio">
                                    {% if ref.paid == 1 %}
                                        <span class="paid">Выплачено</span>
                                    {% else %}
                                        <span class="notpaid">Не выплачено</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12">
        <div class="cab-block shops">
            <h2>Наши магазины</h2>
            <div class="row our-stores">
                <div class="col-12 col-sm-12 col-md-4 col-xl-2">
                    <div class="cab-block our-stores-store">
                        <div class="our-stores-img-cont">
                            <img src="{{ url_for('static', filename='img/stores/slonparket.svg') }}">
                        </div>
                        <div class="our-stores-txt">
                            Магазин напольных покрытий СЛОНПАРКЕТ предлагает тысячи решений  для отделки пола
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-xl-2">
                    <div class="cab-block our-stores-store">
                        <div class="our-stores-img-cont">
                            <img src="{{ url_for('static', filename='img/stores/lp.svg') }}">
                        </div>
                        <div class="our-stores-txt">
                            В магазине представлен большой выбор керамической плитки и керамогранита по доступной цене
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-xl-2">
                    <div class="cab-block our-stores-store">
                        <div class="our-stores-img-cont">
                            <img src="{{ url_for('static', filename='img/stores/rd.svg') }}">
                        </div>
                        <div class="our-stores-txt">
                            Большой ассортимент межкомнатных дверей с разными покрытиями: шпон, эмаль, массив
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-xl-2">
                    <div class="cab-block our-stores-store">
                        <div class="our-stores-img-cont">
                            <img src="{{ url_for('static', filename='img/stores/cp1.svg') }}">
                        </div>
                        <div class="our-stores-txt">
                            Огромный выбор качественного напольного покрытия
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-xl-2">
                    <div class="cab-block our-stores-store">
                        <div class="our-stores-img-cont">
                            <img src="{{ url_for('static', filename='img/stores/parket1703.svg') }}">
                        </div>
                        <div class="our-stores-txt">
                            Новая сеть салонов напольных покрытий, отвечающая нашим высочайшим стандартам качества сервиса и продукции.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-xl-2">
                    <div class="cab-block our-stores-store">
                        <div class="our-stores-img-cont">
                            <img src="{{ url_for('static', filename='img/stores/pd.svg') }}">
                        </div>
                        <div class="our-stores-txt">
                            Широкий выбор дверей из экошпона и алюминия
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12">
        <div class="cab-block bonus parent">
            <button class="btn-arrow btn-min"></button>
            <h2>Бонусная программа</h2>
            <div>
                <p>
                    Повышая объемы продаж, Вы увеличиваете свой уровень, за который получаете бонусы. Повышенный % бонуса действует на материалы из списка.
                </p>
                <p class="mob-btn-block">
                    <button type="button" class="btn" id="modal-btn-goods" data-bs-toggle="modal" data-bs-target="#modal-goods">Список высокомаржинальных товаров</button>
                </p>
            </div>
            <h4>Текущий % бонуса: <b>{{ 10 + current_user.lvl / 2 }}%</b></h4>
            <div class="progress-container">
                <div class="progress" id="progress"> </div>
                <div class="circle active">
                    10%
                </div>
                <div class="circle">
                    10.5
                    <div class="after even">1 млн.</div>
                </div>
                <div class="circle">
                    11%
                    <div class="after odd">2 млн.</div>
                </div>
                <div class="circle">
                    11.5
                    <div class="after even">3 млн.</div>
                </div>
                <div class="circle">
                    12%
                    <div class="after odd">4 млн.</div>
                </div>
                <div class="circle">
                    12.5
                    <div class="after even">5 млн.</div>
                </div>
                <div class="circle">
                    13%
                    <div class="after odd">6 млн.</div>
                </div>
                <div class="circle">
                    13.5
                    <div class="after even">7 млн.</div>
                </div>
                <div class="circle">
                    14%
                    <div class="after odd">8 млн.</div>
                </div>
                <div class="circle">
                    14.5
                    <div class="after even">9 млн.</div>
                </div>
                <div class="circle">
                    15%
                    <div class="after odd">10 млн.</div>
                </div>
            </div>

            <script>
            /* шкала прогресса реф программы */
            const progress = document.getElementById("progress");
            const stepCircles = document.querySelectorAll(".circle");
            let currentActive = 1;

            //NOTE CHANGE HERE TO 1-4
            //1=25%
            //2=50%
            //3=75%
            //4=100%
            update({{ current_user.lvl + 1 }});

            function update(currentActive) {
				stepCircles.forEach((circle, i) => {
					if (i < currentActive) {
					  circle.classList.add("active");
					} else {
					  circle.classList.remove("active");
					}
				});

            const activeCircles = document.querySelectorAll(".active");
            progress.style.width = ((activeCircles.length - 1) / (stepCircles.length - 1)) * 100 + "%";
            }
            /* end шкала прогресса реф программы */
            </script>

            <h4>До следующего уровня:</h4>
            <div class="have-left">Куплено: {{ current_user.moneytomln }}₽ / Осталось: {{ 1000000 - current_user.moneytomln }}₽</div>
            <div style="height: 100px;">
                <div class="animated-progress">
                    <span class="have" style="width: {{ current_user.moneytomln / 10000 }}%"><b>Куплено: {{ current_user.moneytomln }}₽</b></span>
                    <span class="left" style="width: calc(100% - {{ current_user.moneytomln / 10000 }}%)"><b>Осталось: {{ 1000000 - current_user.moneytomln }}₽</b></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12">
    </div>

    <div class="col-12 col-sm-12 col-md-12">
        <div class="cab-block prizes">
            <h2>Выигранные призы</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                    {% if 'alisa' in prizes %}
                    <div class="prize active">
                    {% else %}
                    <div class="prize">
                    {% endif %}
                        <div class="prizes-img-cont ">
                            <img src="{{ url_for('static', filename='img/prizes/1-alisa.png') }}">
                        </div>
                        <hr>
                        <div class="prizes-txt">Яндекс станция с Алисой</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                    {% if 'ipad' in prizes %}
                    <div class="prize active">
                    {% else %}
                    <div class="prize">
                    {% endif %}
                        <div class="prizes-img-cont ">
                            <img src="{{ url_for('static', filename='img/prizes/2-ipad.png') }}">
                        </div>
                        <hr>
                        <div class="prizes-txt">iPad</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                    {% if 'macbook' in prizes %}
                    <div class="prize active">
                    {% else %}
                    <div class="prize">
                    {% endif %}
                        <div class="prizes-img-cont ">
                            <img src="{{ url_for('static', filename='img/prizes/3-macbook.png') }}">
                        </div>
                        <hr>
                        <div class="prizes-txt">MacBook Air</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                    {% if 'coswick' in prizes %}
                    <div class="prize active">
                    {% else %}
                    <div class="prize">
                    {% endif %}
                        <div class="prizes-img-cont ">
                            <img src="{{ url_for('static', filename='img/prizes/4-coswick.jpg') }}">
                        </div>
                        <hr>
                        <div class="prizes-txt">Поездка на фабрику Coswick</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                    {% if 'maldives' in prizes %}
                    <div class="prize active">
                    {% else %}
                    <div class="prize">
                    {% endif %}
                        <div class="prizes-img-cont ">
                            <img src="{{ url_for('static', filename='img/prizes/5-maldives.jpg') }}">
                        </div>
                        <hr>
                        <div class="prizes-txt">Поездка на Мальдивы</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                    {% if 'kia' in prizes %}
                    <div class="prize active">
                    {% else %}
                    <div class="prize">
                    {% endif %}
                        <div class="prizes-img-cont ">
                            <img src="{{ url_for('static', filename='img/prizes/6-kia.png') }}">
                        </div>
                        <hr>
                        <div class="prizes-txt">Автомобиль Kia Soul</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12">
        <div class="cab-block orders parent">
            <button class="btn-arrow btn-min"></button>
            <form id="filterForm">
                <h2>Заказы</h2>
                <input class="filter-search" type="text" id="query" name="query" placeholder="Поиск..." value="{{ request.args.get('query', '') }}">
                <button type="submit" class="btn btn-filter">Фильтровать</button>
            </form>
            <div class="orders-tbl">
                <div class="orders-tbl-section orders-tbl-header">
                    <div class="orders-tbl-el tbl-order-num">№ Заказа</div>
                    <div class="orders-tbl-el tbl-order-fio">ФИО Клиента</div>
                    <div class="orders-tbl-el tbl-order-address">Адрес</div>
                    <div class="orders-tbl-el tbl-order-date">Дата заказа</div>
                    <div class="orders-tbl-el tbl-order-del-date">Отгрузка</div>
                    <div class="orders-tbl-el tbl-order-sum">Сумма</div>
                    <div class="orders-tbl-el tbl-order-bonus">Бонус</div>
                </div>
                <div id="orderList" class="desctoporders">
                    {% for order in orders %}
                    <div class="orders-tbl-order">
                        <input type="checkbox" name="order" id="order{{ order.count }}" />
                        <label class="cab-block orders-tbl-section" for="order{{ order.count }}">
                            <span class="orders-tbl-el tbl-order-num">{{ order.order_num }}</span>
                            <span class="orders-tbl-el tbl-order-fio">{{ order.customer_name }}</span>
                            <span class="orders-tbl-el tbl-order-address">{{ order.address }}</span>
                            <span class="orders-tbl-el tbl-order-date">{{ order.order_date }}</span>
                            <span class="orders-tbl-el tbl-order-del-date">{{ order.shipment_date }}</span>
                            <span class="orders-tbl-el tbl-order-sum">{{ order.order_sum }} ₽</span>
                            <span class="orders-tbl-el tbl-order-bonus">
                                <div style="align-content: end;">{{ order.bonus }} ₽</div>
                                {% if order.bonus_paid %}<div class="bonuspaid green">Выплачен{% else %}<div class="bonuspaid gray">Ожидает выплаты{% endif %}</div>
                            </span>
                            <span class="orders-tbl-el arrow"></span>
                        </label>
                        <div class="orders-tbl-items">
                            <div class="orders-tbl-items-header">
                                <div class="orders-tbl-items-el tbl-items-name">Наименование</div>
                                <div class="orders-tbl-items-el tbl-items-amount">Количество</div>
                                <div class="orders-tbl-items-el tbl-items-price">Цена</div>
                                <div class="orders-tbl-items-el tbl-items-total">Стоимость</div>
                            </div>
                            {% for item in order.order_items %}
                            <div class="orders-tbl-items-section">
                                <div class="orders-tbl-items-el tbl-items-name">{{ item.name }}</div>
                                <div class="orders-tbl-items-el tbl-items-amount">{{ '%0.2f' % item.amount }}</div>
                                <div class="orders-tbl-items-el tbl-items-price">{{ '%0.2f' % item.price }} ₽</div>
                                <div class="orders-tbl-items-el tbl-items-total">{{ '%0.2f' % (item.amount * item.price) }} ₽</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="mobileorders">
                    {% for order in orders %}
                    <div class="orders-tbl-order">
                        <input type="checkbox" name="order" id="order{{ order.count }}m" />
                        <label class="orders-tbl-section" for="order{{ order.count }}m">
                            <div class="orders-tbl-el tbl-order-num">
                                <label>Номер заказа</label>
                                {{ order.order_num }}
                            </div>
                            <span class="orders-tbl-el tbl-order-bonus">
                                {% if order.bonus_paid %}<div class="bonuspaid green">Выплачен{% else %}<div class="bonuspaid gray">Ожидает выплаты{% endif %}</div>
                            </span>
                            <span class="orders-tbl-el arrow"></span>
                        </label>
                        <div class="orders-tbl-items">
                            <div class="dopinfo">
                                <div class="orders-tbl-items-el tbl-order-fio">
                                    <label>Имя клиента</label>
                                    {{ order.customer_name }}
                                </div>
                                <div class="orders-tbl-items-el tbl-order-date">
                                    <label>Дата заказа</label>
                                    {{ order.order_date }}
                                </div>
                                <div class="orders-tbl-items-el tbl-order-address">
                                    <label>Адрес</label>
                                    {{ order.address }}
                                </div>
                                <div class="orders-tbl-items-el tbl-order-del-date">
                                    <label>Дата отгрузки</label>
                                    {{ order.shipment_date }}
                                </div>
                                <div class="orders-tbl-items-el tbl-order-sum">
                                    <label>Сумма</label>
                                    {{ order.order_sum }} ₽
                                </div>
                                <div class="orders-tbl-items-el tbl-order-bonus">
                                    <label>Бонус</label>
                                    {{ order.bonus }} ₽
                                </div>
                            </div>
                            {% for item in order.order_items %}
                            <div class="orders-tbl-items-section">
                                <div class="orders-tbl-items-el tbl-items-name">
                                    <label>Наименование</label>
                                    {{ item.name }}
                                </div>
                                <div class="orders-tbl-items-el tbl-items-amount">
                                    <label>Количество</label>
                                    {{ '%0.2f' % item.amount }}
                                </div>
                                <div class="orders-tbl-items-el tbl-items-price">
                                    <label>Цена</label>
                                    {{ '%0.2f' % item.price }} ₽
                                </div>
                                <div class="orders-tbl-items-el tbl-items-total">
                                    <label>Стоимость</label>
                                    {{ '%0.2f' % (item.amount * item.price) }} ₽
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="allorders">
                <a class="btn" href="/user/orders">Все заказы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        document.getElementById('filterForm').addEventListener('submit', function(e) {
            e.preventDefault();

            const query = document.getElementById('query').value;

            // Отправляем запрос через AJAX
            fetch(`/user?query=${query}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                // Обновляем список заказов
                const orderList = document.getElementById('orderList');
                orderList.innerHTML = '';  // Очищаем старые заказы

                // Добавляем новые заказы
                data.orders.forEach(order => {
                    const orderItem = document.createElement('div');
                    orderItem.className = 'orders-tbl-order';

                    orderItem.innerHTML = `
                        <input type="checkbox" name="order" id="order${order.count}" />
                        <label class="orders-tbl-section" for="order${order.count}">
                            <span class="orders-tbl-el tbl-order-num">${order.order_num}</span>
                            <span class="orders-tbl-el tbl-order-fio">${order.customer_name}</span>
                            <span class="orders-tbl-el tbl-order-address">${order.address}</span>
                            <span class="orders-tbl-el tbl-order-date">${order.order_date}</span>
                            <span class="orders-tbl-el tbl-order-del-date">${order.shipment_date}</span>
                            <span class="orders-tbl-el tbl-order-sum">${order.order_sum} ₽</span>
                            <span class="orders-tbl-el tbl-order-bonus">
                                <div style="align-content: end;">${order.bonus} ₽</div>
                                <div class="bonuspaid ${order.bonus_paid ? 'green' : 'gray'}">
                                    ${order.bonus_paid ? 'Выплачен' : 'Ожидает выплаты'}
                                </div>
                            </span>
                            <span class="orders-tbl-el arrow"></span>
                        </label>
                    `;
                    orderList.appendChild(orderItem);
                });
            })
            .catch(error => console.error('Ошибка:', error));
        });
    </script>
{% endblock %}