{% extends 'main/base.html' %}

{% block title %}Здравствуйте, {{ current_user.name }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block modal %}
<!-- Callback -->
<div class="modal fade" id="modal-callback" tabindex="-1" aria-labelledby="ModalCallbackLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCallbackLabel">Заказать обратный звонок</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-add-user" method="post" enctype="multipart/form-data" style="background: #fff;">
                    {{ form_callback.csrf_token }}
                    {{ form_callback.callback_name(placeholder="Имя") }}
                    {{ form_callback.callback_phone(placeholder="Телефон") }}
                    {{ form_callback.callback_submit(placeholder="Заказать звонок") }}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Make Order -->
<div class="modal fade" id="modal-order" tabindex="-1" aria-labelledby="ModalOrderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalOrderLabel">Оформить заказ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-add-user" method="post" enctype="multipart/form-data" style="background: #fff;">
                    {{ form_make_order.csrf_token }}
                    {{ form_make_order.make_order_name(placeholder="Имя") }}
                    {{ form_make_order.make_order_phone(placeholder="Телефон") }}
                    {{ form_make_order.make_order_text(placeholder="Опишите что вам нужно") }}
                    {{ form_make_order.make_order_submit(placeholder="Отправить") }}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Feedback -->
<div class="modal fade" id="modal-feedback" tabindex="-1" aria-labelledby="ModalFeedbackLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalFeedbackLabel">Оставить отзыв/пожелание</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-add-user" method="post" enctype="multipart/form-data" style="background: #fff;">
                    {{ form_feedback.csrf_token }}
                    {{ form_feedback.feedback_name(placeholder="Имя") }}
                    {{ form_feedback.feedback_text(placeholder="Комментарий / пожелание по улучшению личного кабинета") }}
                    {{ form_feedback.feedback_submit(placeholder="Отправить") }}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Reminder -->
<div class="modal fade" id="modal-reminder" tabindex="-1" aria-labelledby="ModalReminderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalReminderLabel">Памятка партнера</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modal-text"><b>Работа с менеджерами</b>
                - Для начисления бонуса до оформления заказа необходимо уведомить менеджера магазина, что Вы партнер группы компаний PRO Дизайн.
                - В том случае если Вы не с клиентом, необходимо предупредить менеджера о том, что Ваш клиент придет в магазин.

                <b>Сроки выплаты бонуса</b>
                - Выплаты бонуса партнерам происходят 3 раза в месяц, не ранее, чем через 14 дней с момента отгрузки товара клиенту.
                - Даты выплат: 10-15, 20-25, 30-4 число каждого месяца
                - Если дата выплаты выпадает на выходной день, то выплата происходит в ближайший рабочий день.

                <b>Бонус наличными</b>
                - Если Вы хотите забрать бонус наличными, необходимо не позднее, чем за 3 рабочих дня предупредить менеджера по работе с партнерами о том, что Вы приедете за выплатой, чтобы мы успели подготовить сумму.
                - Если партнер не приезжает в указанную дату для выплаты бонуса, мы переводим сумму на карту (заранее уведомив об этом партнера) или получение бонуса переносится на следующую дату.

                <b>Размер бонуса</b>
                - Процент бонуса рассчитывается от суммы проданного товара по рекомендованным розничным ценам.
                - В случае предоставления скидки клиенту, процент бонуса снижается на размер предоставленной скидки.
                - Каждый раз, когда сумма ваших заказов достигает 1 000 000 ₽, размер вашего бонуса увеличивается на 0,5% - Повышенный бонус распространяется только на товары производителей, указанных в личном кабинете. На товары производителей, не включенных в список, распространяется стандартный % бонуса - 10%.
                - Максимальный размер бонуса 15%

                <b>Реферальная программа</b>
                - Реферал засчитывается партнеру в момент, когда он совершает покупку в наших салонах, оформив ранее клубную карту партнера PRO Дизайн.</p>
            </div>
        </div>
    </div>
</div>
<!-- News -->
<div class="modal fade" id="modal-news" tabindex="-1" aria-labelledby="ModalNewsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalNewsLabel">Журнал новостей</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<!-- Top goods -->
<div class="modal fade" id="modal-goods" tabindex="-1" aria-labelledby="ModalGoodsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalGoodsLabel">Список высокомаржинальных товаров</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Направление "Напольные покрытия"</h2>
                <p class="modal-text"><b>Ламинат</b>

                - Kronotex
                - My Floor
                - My Step
                - Villeroy&amp;Boch
                - Clix Floor (коллекции Charm, Excellent, Flame)

                <b>Кварцвинил (ПВХ плитка)</b>

                - Union
                - Norland
                - Tulesna
                - Bonkeel
                - Art East
                - My Step Aqua(коллекции AQUA 5, AQUA 6)

                <b>Паркетная доска</b>

                - Barlinek
                - Decospan
                - Karelia

                <b>Инженерная доска</b>

                - Koen
                - Coswick
                - Spil
                - Esta</p>
                <h2>Направление "Двери"</h2>
                <p class="modal-text"><b>Межкомнатные двери</b>
                - Двери DeFance
                - Двери "Массив дуба"

                <b>Входные двери</b>

                - Двери Стальная Линия
                - Двери Дива

                <b>Фурнитура</b>

                - Morelli
                - System
                </p>
                <h2>Направление "Керамика"</h2>
                <p class="modal-text">
                <b>с 01.10.2024</b>
                - Azario
                - Alma ceramica
                - Buono Ceramic
                - Maimoon
                - NT Ceramic
                </p>
                <br />
                <p class="modal-text grey">Повышенный % бонуса действует только на материалы производителей из списка с даты внесения производителя в список. На бренды, не указанные в списке, а также на акционные позиции, подложку, плинтус и химию - действует стандартный % бонуса.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!--<div>
        {% if current_user.avatar %}
            <img src="/static/upload/{{ current_user.avatar }}">
        {% else %}
            <img src="/static/img/imgs/avatar.png">
        {% endif %}
    </div>-->


<div class="row">
    <div class="col12 col-sm-12 col-md-1">
        <div class="usermenu">
            <button type="button" class="btn btn-primary" id="modal-btn-callback" data-bs-toggle="modal" data-bs-target="#modal-callback">
                <img src="/static/img/icon_pc_callback.svg">
                <span>Заказать обратный звонок</span>
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-order" data-bs-toggle="modal" data-bs-target="#modal-order">
                <img src="/static/img/icon_pc_order.svg">
                <span>Оформить заказ</span>
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-feedback" data-bs-toggle="modal" data-bs-target="#modal-feedback">
                <img src="/static/img/icon_pc_map.svg">
                <span>Оставить отзыв/пожелание</span>
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-reminder" data-bs-toggle="modal" data-bs-target="#modal-reminder">
                <img src="/static/img/icon_pc_feedback.svg">
                <span>Памятка партнера
            </button>
            <button type="button" class="btn btn-primary" id="modal-btn-news" data-bs-toggle="modal" data-bs-target="#modal-news">
                <img src="/static/img/icon_pc_news.svg">
                <span>Журнал новостей</span>
            </button>
        </div>
    </div>

    <div class="col12 col-sm-12 col-md-5">
        <div class="info">
            <form class="row form-add-user" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="col-12 col-sm-8 top">
                    Привет, {{ current_user.name }}!
                </div>
                <div class="col-12 col-sm-4 avatar">
                    {% if current_user.avatar %}
                        <img src="/static/upload/{{ current_user.avatar }}">
                    {% else %}
                        <img src="/static/img/imgs/avatar.png">
                    {% endif %}
                </div>
                <div class="col-12 col-sm-12 card">
                    <label>Карта</label> 
                    <span>{{ '%04d' % current_user.card }}</span>
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.phone.label }}
                    {{ form.phone(placeholder="Телефон") }}
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.email.label }}
                    {{ form.email(placeholder="E-Mail") }}
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.birthday.label }}
                    {{ form.birthday(placeholder="Дата рождения") }}
                </div>
                <div class="col-12 col-sm-6 form-add-user-el">
                    {{ form.password.label }}
                    {{ form.password(placeholder="Пароль") }}
                </div>
                <div class="form-add-user-el">
                    {{ form.avatar.label }}
                    {{ form.avatar(placeholder="Аватар") }}
                </div>
                    {{ form.submit(placeholder="Изменить") }}
            </form>
        </div>
    </div>

    <div class="col12 col-sm-12 col-md-6">
        <div class="stats">
            <h2>Статистика</h2>
            <div>
                <div>Кол-во заказов: {{ stats['orders_count'] }}</div>
                <div>Ожидает выплаты: {{ stats['bonus_to_pay'] }}</div>
                <div>Заработали: {{ stats['money_earned'] }}</div>
                <div>Ваша реф. ссылка: <span id="ref_link" onclick="copyRefLink(document.getElementById('ref_link').innerHTML)">https://prod.ru/?r={{  '%04d' % current_user.card }}</span></div>
            </div>
            <div>
                <div class="orders-tbl">
                    <div class="orders-tbl-section orders-tbl-header">
                        <div class="orders-tbl-el tbl-order-num">№ Заказа</div>
                        <div class="orders-tbl-el tbl-order-fio">ФИО Клиента</div>
                    </div>
                    {% for ref in refs %}
                        <div class="orders-tbl-order">
                            <div class="orders-tbl-section">
                                <div class="orders-tbl-el tbl-order-num">{{ '%04d' % ref.referral_card }}</div>
                                <div class="orders-tbl-el tbl-order-fio">
                                    {% if ref.paid == 1 %}
                                        Выплачено
                                    {% else %}
                                        Не выплачено
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col12 col-sm-12 col-md-12">
        <div class="shops">
            <h2>Наши магазины</h2>
            <div class="our-stores">
                <div class="our-stores-store">
                    <div class="our-stores-img-cont">
                        <img src="{{ url_for('static', filename='img/stores/slonparket.svg') }}">
                    </div>
                    <div class="our-stores-txt">
                        Магазин напольных покрытий СЛОНПАРКЕТ предлагает тысячи решений  для отделки пола
                    </div>
                </div>
                <div class="our-stores-store">
                    <div class="our-stores-img-cont">
                        <img src="{{ url_for('static', filename='img/stores/cp1.svg') }}">
                    </div>
                    <div class="our-stores-txt">
                        Огромный выбор качественного напольного покрытия
                    </div>
                </div>
                <div class="our-stores-store">
                    <div class="our-stores-img-cont">
                        <img src="{{ url_for('static', filename='img/stores/parket1703.svg') }}">
                    </div>
                    <div class="our-stores-txt">
                        Новая сеть салонов напольных покрытий, отвечающая нашим высочайшим стандартам качества сервиса и продукции.
                    </div>
                </div>
                <div class="our-stores-store">
                    <div class="our-stores-img-cont">
                        <img src="{{ url_for('static', filename='img/stores/lp.svg') }}">
                    </div>
                    <div class="our-stores-txt">
                        В магазине представлен большой выбор керамической плитки и керамогранита по доступной цене
                    </div>
                </div>
                <div class="our-stores-store">
                    <div class="our-stores-img-cont">
                        <img src="{{ url_for('static', filename='img/stores/pd.svg') }}">
                    </div>
                    <div class="our-stores-txt">
                        Широкий выбор дверей из экошпона и алюминия
                    </div>
                </div>
                <div class="our-stores-store">
                    <div class="our-stores-img-cont">
                        <img src="{{ url_for('static', filename='img/stores/rd.svg') }}">
                    </div>
                    <div class="our-stores-txt">
                        Большой ассортимент межкомнатных дверей с разными покрытиями: шпон, эмаль, массив
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col12 col-sm-12 col-md-12">
        <div class="bonus">
            <h2>Бонусная программа</h2>
            <div>
                Повышая объемы продаж, Вы увеличиваете свой уровень, за который получаете бонусы. Повышенный % бонуса действует на материалы из списка.
                <button type="button" class="btn" id="modal-btn-goods" data-bs-toggle="modal" data-bs-target="#modal-goods">
                    Список высокомаржинальных товаров
                </button>
            </div>
            <div class="progress-container">
                <div class="progress" id="progress"> </div>
                <div class="circle active">10%</div>
                <div class="circle">10.5</div>
                <div class="circle">11%</div>
                <div class="circle">11.5</div>
                <div class="circle">12%</div>
                <div class="circle">12.5</div>
                <div class="circle">13%</div>
                <div class="circle">13.5</div>
                <div class="circle">14%</div>
                <div class="circle">14.5</div>
                <div class="circle">15%</div>
            </div>

            <script>
            /* шкала прогресса реф программы */
            const progress = document.getElementById("progress");
            const stepCircles = document.querySelectorAll(".circle");
            let currentActive = 1;

            //NOTE CHANGE HERE TO 1-4
            //1=25%
            //2=50%
            //3=75%
            //4=100%
            update({{ current_user.lvl + 1 }});

            function update(currentActive) {
            stepCircles.forEach((circle, i) => {
            if (i < currentActive) {
              circle.classList.add("active");
            } else {
              circle.classList.remove("active");
            }
            });

            const activeCircles = document.querySelectorAll(".active");
            progress.style.width = ((activeCircles.length - 1) / (stepCircles.length - 1)) * 100 + "%";
            }
            /* end шкала прогресса реф программы */
            </script>

            <div style="height: 100px;">
                <div class="animated-progress">
                    <span style="width: {{ current_user.moneytomln / 10000 }}%">{{ current_user.moneytomln }}₽</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col12 col-sm-12 col-md-12">
    </div>

    <div class="col12 col-sm-12 col-md-12">
        <div class="prizes">
            <h2>Выигранные призы</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="prize">
                        {% if 'alisa' in prizes %}
                        <div class="prizes-img-cont active">
                        {% else %}
                        <div class="prizes-img-cont">
                        {% endif %}
                            <img src="{{ url_for('static', filename='img/prizes/1-alisa.png') }}">
                        </div>
                        <div class="prizes-txt">Яндекс станция с Алисой</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="prize">
                        {% if 'ipad' in prizes %}
                        <div class="prizes-img-cont active">
                        {% else %}
                        <div class="prizes-img-cont">
                        {% endif %}
                            <img src="{{ url_for('static', filename='img/prizes/2-ipad.png') }}">
                        </div>
                        <div class="prizes-txt">iPad</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="prize">
                        {% if 'macbook' in prizes %}
                        <div class="prizes-img-cont active">
                        {% else %}
                        <div class="prizes-img-cont">
                        {% endif %}
                            <img src="{{ url_for('static', filename='img/prizes/3-macbook.png') }}">
                        </div>
                        <div class="prizes-txt">MacBook Air</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="prize">
                        {% if 'coswick' in prizes %}
                        <div class="prizes-img-cont active">
                        {% else %}
                        <div class="prizes-img-cont">
                        {% endif %}
                            <img src="{{ url_for('static', filename='img/prizes/4-coswick.jpg') }}">
                        </div>
                        <div class="prizes-txt">Поездка на фабрику Coswick</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="prize">
                        {% if 'maldives' in prizes %}
                        <div class="prizes-img-cont active">
                        {% else %}
                        <div class="prizes-img-cont">
                        {% endif %}
                            <img src="{{ url_for('static', filename='img/prizes/5-maldives.jpg') }}">
                        </div>
                        <div class="prizes-txt">Поездка на Мальдивы</div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="prize">
                        {% if 'kia' in prizes %}
                        <div class="prizes-img-cont active">
                        {% else %}
                        <div class="prizes-img-cont">
                        {% endif %}
                            <img src="{{ url_for('static', filename='img/prizes/6-kia.png') }}">
                        </div>
                        <div class="prizes-txt">Автомобиль Kia Soul</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col12 col-sm-12 col-md-12">
        <div class="orders">
            <h2>Заказы</h2>
            <div class="orders-tbl">
                <div class="orders-tbl-section orders-tbl-header">
                    <div class="orders-tbl-el tbl-order-num">№ Заказа</div>
                    <div class="orders-tbl-el tbl-order-fio">ФИО Клиента</div>
                    <div class="orders-tbl-el tbl-order-address">Адрес</div>
                    <div class="orders-tbl-el tbl-order-date">Дата заказа</div>
                    <div class="orders-tbl-el tbl-order-del-date">Отгрузка</div>
                    <div class="orders-tbl-el tbl-order-sum">Сумма</div>
                    <div class="orders-tbl-el tbl-order-bonus">Бонус</div>
                </div>
                {% for order in orders %}
                <div class="orders-tbl-order">
                <div class="orders-tbl-section">
                <div class="orders-tbl-el tbl-order-num">{{ order.order_num }}</div>
                <div class="orders-tbl-el tbl-order-fio">{{ order.customer_name }}</div>
                <div class="orders-tbl-el tbl-order-address">{{ order.address }}</div>
                <div class="orders-tbl-el tbl-order-date">{{ order.order_date }}</div>
                <div class="orders-tbl-el tbl-order-del-date">{{ order.shipment_date }}</div>
                <div class="orders-tbl-el tbl-order-sum">{{ order.order_sum }}</div>
                <div class="orders-tbl-el tbl-order-bonus">{{ order.bonus }}</div>
                </div>
                <div class="orders-tbl-items">
                <div class="orders-tbl-items-header">
                    <div class="orders-tbl-items-el tbl-items-name">Наименование</div>
                    <div class="orders-tbl-items-el tbl-items-amount">Количество</div>
                    <div class="orders-tbl-items-el tbl-items-price">Цена</div>
                    <div class="orders-tbl-items-el tbl-items-total">Стоимость</div>
                </div>
                {% for item in order.order_items %}
                <div class="orders-tbl-items-section">
                    <div class="orders-tbl-items-el tbl-items-name">{{ item.name }}</div>
                    <div class="orders-tbl-items-el tbl-items-amount">{{ '%0.2f' % item.amount }}</div>
                    <div class="orders-tbl-items-el tbl-items-price">{{ '%0.2f' % item.price }}</div>
                    <div class="orders-tbl-items-el tbl-items-total">{{ '%0.2f' % (item.amount * item.price) }}</div>
                </div>
                {% endfor %}
                </div>
                </div>
                {% endfor %}
            </div>
            <div><a href="{{ url_for('user.user_orders') }}">Все заказы</a></div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}