{% extends 'main/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">{% endblock %}

{% block content %}

<section class="login-page">
    <form class="form-add-user" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.login(placeholder="Номер карты / телефон") }}
        {{ form.password(placeholder="Пароль") }}
        {{ form.remember(placeholder="Запомнить") }} {{ form.remember.label }} 
        {{ form.submit(placeholder="Войти") }}
    </form>
</section>

{% endblock %}

{% block js %}
    <script>
        function sendUserIdToReact() {
            if(window.ReactNativeWebView) { // ensure window.ReactNativeWebView is there, otherwise, web app might crash if is not there
                window.ReactNativeWebView.postMessage('{"user_id":<?=$wp_user->ID?>, "_wpnonce":"<?=$_wpnonce?>"}')
            }
        }

        document.addEventListener("DOMContentLoaded", sendUserIdToReact);
    </script>
{% endblock %}