@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: Normal;
    src: url('../fonts/Gilroy.ttf')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: Bold;
    src: url('../fonts/Gilroy-Bold.ttf')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: Light;
    src: url('../fonts/Gilroy-Light.ttf')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: Medium;
    src: url('../fonts/Gilroy-Medium.ttf')
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: SemiBold;
    src: url('../fonts/Gilroy-SemiBold.ttf')
}